{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="overlay"></div> 
  <div class="container mb-2"></div>  
  <div class="row">
    <div class="col">
        <hr class = "w-50 p-3">
        <h2 class="logo-font mb-4 text-center">Cart:</h2>
        <hr class = "w-50 p-3">
    </div>
  </div>
  <div class="row">
    <div class="col">
        {% if cart_items %}
        <div class="table-responsive rounded"></div>
    {% else %}
        <p class="lead mb-5 text-center">Your cart is currently empty!</p>
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-5 btn-md bg-white ">
            <span class="icon">
                <i class="fa-solid fa-arrow-left"></i>
            </span>
            <span class="text-uppercase rounded-5 ">Keep Shopping</span>
        </a>
    {% endif %}
    </div>
  </div>


    
{% endblock %}