html {
    height: 100%;
}


body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(90vh - 150px);
    color: red;
    font-family: 'Poppins';
  
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.4rem;
    width: 1.4rem;
}


.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button  {
    background: red;
    color: white;
    min-width: 300px;

}



.btn-black {
    background: red;
    color: white;
}
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #f6e652;
	z-index: -1;
}


.shop-now-button:hover {
background-color: yellow;
}
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: red;
    color: white;
}

footer {
    background: #212529;
  }


.text-black {
    color: red !important;
}

.border-black {
    border: 3px solid black !important;
}
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Media Queries */

/* xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* medium navbar */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
