html {
    height: 100%;
}


body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(90vh - 150px);
    color: red;
    font-family: 'Poppins';
  
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.4rem;
    width: 1.4rem;
}


.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: red;
    color: white;
    min-width: 300px;
}

.btn-black {
    background: red;
    color: white;
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #f6e652;
	z-index: -1;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: red;
    color: white;
}



.text-black {
    color: red !important;
}

.border-black {
    border: 3px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
