<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-10 mx-10">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-danger mr-4" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-danger mr-5" href="#" id="graded-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graded
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="graded-link">
                <a href="{% url 'products' %}?category=Graded" class="dropdown-item">Graded Cards</a>
               
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-danger mr-5" href="#" id="sealed-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sealed
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sealed-link">
                <a href="{% url 'products' %}?category=Sealed" class="dropdown-item">Sealed Products</a>
            
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-danger" href="#" id="ungraded-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ungraded 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ungraded-link">
                <a href="{% url 'products' %}?category=Ungraded" class="dropdown-item">Ungraded Cards</a>
                
            </div>
        </li>
    </ul>
</div>
